

/* Navbar */
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #5d2ff7e0;
}
.navbar-brand {
    font: 32px Viga;
}



/* Jumbotron */
.jumbotron {
    background: url(../img/KerjaPagi.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2em;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}



/* Info Panel */
.info-panel {
    
    padding: 30px;
    margin-top: -120px;
    border-radius: 36px;
    background: rgba(77, 51, 193, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow: inset 8px 8px 1px #3c40c262,
                inset -8px -8px 1px #767dff2f;
    color: #fff;
    font-weight: 1000;
}

.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

.info-panel p {
    font-size: 14px;
    font-weight: lighter;
    
}




/* Workingspace */
.workingspace {
    
    margin-top: 120px;
    text-align: center;
}

.workingspace img {
    margin-bottom: 20px;
}

.blob{
    position: relative;
    transform: scale(.7);
    z-index: -1;
    margin-top: -27em;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
}

.waveTesti {
    min-width: 100vw;
    transform: translateY(135px);
}


/* Testimonial */
.testi {
    position: relative;
    min-width: 100vw;
    height: 100%;
    padding: 20px;
    background-color: #0B63DC;
    margin-top: 130px;
    color: #ddd;
}

.testimonial {
    flex-direction: column;
}

.testimonial p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.testimonial .img-main {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
}



/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}

.action {
    position: relative;
    left: 30%;
    top: -300px;
    z-index: 10;    
    background: none;

}

.icons {
    color: #fff;
    font-size: 2em;
    border: 2px solid #Fff;
    padding: 10px;
    border-radius: 50%;
}

.icons:hover {
    background-color: #8321ce;
}

.copyright {
    font-size: 2em;
    
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 100px;
    }
    
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        margin-top: -90px;
        min-height: 100vh;
    }

    .jumbotron .display-4 {
        font-size: 5em;
        margin-top: 150px;
    }

    .action {
        margin-bottom: -100px;
        left: 43%;
    }

    .workingspace {
        text-align: left;
    }

    .waveTesti {
        position: absolute;
        z-index: -1;
        min-width: 100vw;
        left: -10px;
        top: 170%;
    }

    .testi {
        width: 100%;
    }

    .testimonial p {
        font-size: 2em;
    }

}